.hero{
  width:100%;
  min-height:100vh;
  background: linear-gradient(rgba(8,0,58,0.6), rgba(8,0,58,0.6)), url('../../assets/sivalik.png.jpg');
  background-position:center;
  background-size:cover;
  color:#fff;
  display:flex;
  justify-content:center;
  align-items:center;
}
.hero-text{
  text-align:center;
  max-width:800px;
}
.hero-text h1{
  font-size:60px;
  font-weight:600;
}
.hero-text p{
  max-width:700px;
  margin:20px auto 20px;
  line-height:1.4;
}
/* media quary  */
@media(max-width:900px){
  .hero-text h1{
    font-size:30px;
      max-width:400px;
    margin:auto;
    
  }
}