 nav{
  width:100%;
  height:70px;
  color:#fff;
  padding:4px 0;
  position:fixed;
  top:0;
  left:0;
  display:flex;
  justify-content:space-between;
  align-items:center;
  z-index:10;
  
} 
.logo{
  /* width:180px; */
  width:55px;
  background:antiquewhite;
  border-radius:50%;
  
}
p1{
  font-size:20px;
  font-weight:bold;
  margin-right:150px;
  
}
nav ul li{
  display:inline-block;
  list-style:none;
  margin:5px 20px;
  font-size:16px;
  
}
.btn{
  padding:5px 10px;
  background:white;
  color:#333;
  padding:14px 25px;
  font-size:16px;
  border-radius:30px;
  cursor:pointer;
  border:0;
  outline:0;
  display:inline-flex;
  align-items:center;
  justify-content:center;
  
  
}
.btn img{
  width:20px;
  margin-left:10px;
  
}
.dark-nav{
  background:#212EA0;
  transition:0.5s;
}
.menu-icon{
  display:none;
}
/* media quary  */
@media (max-width:1000px){
  .logo{
    /* width:140px; */
    width:40px;
  }
  p1{
    font-size:15px;
    margin-right:100px;
  }
  
  nav ul li{
    margin:10px 15px;
    
  }
}

@media (max-width:840px){
  nav{
    padding:15px 0px; 
    }
  nav ul{
    position:fixed;
    top:0;
    right:0px;
    bottom:0;
    background:#212EA0;
    z-index:-1;
    width:200px;
    padding-top:70px;
    transition:0.5s;
  }
  nav ul li{
    display:block;
    margin:25px 40px;
  }
  .menu-icon{
    display:block;
    width:30px;
    cursor:pointer;
  }
  .hide-mobile-menu{
    right:-2000px;
  }
}